@model ASP_MVC.Models.Student.StudentUpdate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StudentUpdate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="First_name" class="control-label"></label>
                <input asp-for="First_name" class="form-control" />
                <span asp-validation-for="First_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last_name" class="control-label"></label>
                <input asp-for="Last_name" class="form-control" />
                <span asp-validation-for="Last_name" class="text-danger"></span>
            </div>
			<div class="form-group">
				<label asp-for="Birth_date" class="control-label"></label>
				<input asp-for="Birth_date" class="form-control" />
				<span asp-validation-for="Birth_date" class="text-danger"></span>
			</div>
            <div class="form-group">
                <label asp-for="Year_result" class="control-label"></label>
                <input asp-for="Year_result" class="form-control" />
                <span asp-validation-for="Year_result" class="text-danger"></span>
            </div>
			@Html.HiddenFor(Model=>Model.Student_id)
			@Html.HiddenFor(Model=>Model.Login)
			@Html.HiddenFor(Model=>Model.Course_id)
			@Html.HiddenFor(Model=>Model.Section_id)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
